:root {
  --orange-80: #ffac70;
  --orange-100: #ff8b37;
  --orange-120: #e87928;
  --white-100: #ffffff;
  --black-100: #1c1c21;
  --black-40: #D0D0D8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Inter,
    sans-serif,
    -apple-system;
}

button {
  border: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
