.main{
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main:after {
  content: " ";
  border-bottom: 100vh solid #fff3eb;
  border-left: 100vw solid transparent;
  width: 0;
  position: absolute;
}

.main__container {
  z-index: 1;
  display: flex;
  align-items: center;
}

.main__container__content__title{
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--black-100);
    margin-bottom: 4rem;
}

@media (max-width: 764px) {
  .main{
    padding: 5rem 1rem 3rem 1rem;
  }

  .main__container{
    flex-direction: column;
    height: 100%;
  }

  .main__container__content{
    margin-top: 1.5rem;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: space-between;
  }

  .main__container__content__title{
    font-size: 2rem;
    text-align: center;
  }
}

