.main{
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main:after {
  content: " ";
  border-bottom: 100vh solid #fff3eb;
  border-left: 100vw solid transparent;
  width: 0;
  position: absolute;
}

.container {
  z-index: 1;
  display: flex;
  align-items: center;
}

.title{
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--black-100);
    margin-bottom: 4rem;
}

@media (max-width: 764px) {
  .main{
    padding: 0 1rem;
  }
  .container{
    flex-direction: column;
  }
  .title{
    font-size: 2rem;
    text-align: center;
  }
}
