.progress__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-100);
    height: 100vh;
}

.active_progress{
    color: #ff7f00;
}