.container {
  width: 75%;
  height: 100vh;
  display: flex;
  padding: 5rem;
  flex-direction: column;
  justify-content: space-between;
}

.question_title {
  font-size: 2rem;
  font-weight: 600;
}

.answer_block {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(2, 1fr);
}

.question_title {
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.svg_button {
  width: 300px;
  transition: all 0.3s ease;
}

.svg_button_bg {
  fill: #fff;
  stroke: #d0d0d8;
}

.svg_button:hover .svg_button_bg {
  fill: #fff;
  stroke: var(--orange-100);
}

.svg_button_selected {
  fill: var(--orange-5);
  stroke: var(--orange-100);
}

.svg_button_wrong {
  fill: var(--red-5);
  stroke: var(--red-100);
}

.svg_button_correct {
  fill: var(--green-5);
  stroke: var(--green-100);
}
